<div>
    <h2>Téléphones</h2>
    
    <mat-list>
        <mat-list-item *ngFor="let phone of phones">
            <span>Numéro IMEI : {{ phone.imei }} </span>
            <span>Marque : {{ phone.brand }} </span>
            <span>Nom : {{ phone.name }} </span>
            <span>Couleur : {{ phone.color }} </span>
            <span>Capacité : {{ phone.capacity }} Go </span>
            <button mat-button (click)="deletePhone(phone.imei)"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
    </mat-list>

    <div *ngIf="phones.length === 0">
        <p>Aucun téléphone pour le moment</p>
    </div>
</div>
